{
    "rules": {
        "indent": [ 2, 4 ],
        "quotes": [ 2, "single" ],
        "linebreak-style": [ 2, "unix" ],
        "semi": [ 2, "always" ],
        "no-unused-vars": [ 2, {
            "vars": "all",
            "args": "none"
        } ],
        "spaced-comment": [ 2, "always" ]
    },
    "env": {
        "node": true,
        "mocha": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}